<table style="font-size:0.9rem">
<thead>
<tr>
<th>Constituent</th>
<th>Symbol</th>
<th>GICS® Sector</th>
</tr>
</thead>
<tbody>
<tr>
<td>Apple Inc.</td>
<td>AAPL</td>
<td>Information Technology</td>
</tr>
<tr>
<td>Exxon Mobil Corp</td>
<td>XOM</td>
<td>Energy</td>
</tr>
<tr>
<td>Microsoft Corp</td>
<td>MSFT</td>
<td>Information Technology</td>
</tr>
<tr>
<td>Johnson &amp; Johnson</td>
<td>JNJ</td>
<td>Health Care</td>
</tr>
<tr>
<td>Berkshire Hathaway B</td>
<td>BRK.B</td>
<td>Financials</td>
</tr>
<tr>
<td>Wells Fargo &amp; Co</td>
<td>WFC</td>
<td>Financials</td>
</tr>
<tr>
<td>General Electric Co</td>
<td>GE</td>
<td>Industrials</td>
</tr>
<tr>
<td>Procter &amp; Gamble</td>
<td>PG</td>
<td>Consumer Staples</td>
</tr>
<tr>
<td>JP Morgan Chase &amp; Co</td>
<td>JPM</td>
<td>Financials</td>
</tr>
<tr>
<td>Pfizer Inc</td>
<td>PFE</td>
<td>Health Care</td>
</tr>
</tbody>
</table>